@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -webkit-box-shadow: inset 0px 0px 227px 17px rgba(0, 255, 0, 1);
		-moz-box-shadow: inset 0px 0px 227px 17px rgba(0, 255, 0, 1); 
    box-shadow: inset 0px 0px 227px 17px rgba(0, 255, 0, 1);  */
@import 'tailwindcss';

@theme {
	--animate-fade-in-scale: fadeIn 0.3s ease-out;
	--animate-border-spin: border-spin 7s linear infinite;
	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateX(10px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes border-spin {
		/* --animate-fade-in-scale: fadeIn 0.3s ease-out; */
		100% {
			transform: rotate(-360deg);
		}
	}

	--font-Montserrat: 'Montserrat', 'serif';
	--font-Lato: 'Barlow', 'serif';
	--inset-shadow-custom: inset 0px 0px 30px 10px rgba(0, 255, 0, 1);
	--color-accent: #ff5722;
}
body {
	background-color: #2d3b4e;
}

.custom-scroll {
	scrollbar-width: thin;
	scroll-behavior: smooth;
	scrollbar-color: #4b5563 transparent;
}

@layer utilities {
}
